nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 20px;
    z-index: 9;

    margin: auto;

    max-width: 90%;

    min-height: 80px;
    max-height: 80px;

    backdrop-filter: blur(5px);
    transition: all 1.0s ease-in-out;

    border-radius: 12px;

}

.navbar-light {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-dark {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.name {
    font-size: 32px;
    font-weight: 400;
}

#toggle-btn>img {
    width: 40px;
    height: 40px;
}

#toggle-btn {
    cursor: pointer;
    background: none; 
    border: none;
    z-index: 10;
    transition: all 1.0s ease-in-out;
}

#toggle-btn:focus {
    outline: none;
}

.nav-links {
    display: flex;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;

    list-style: none;
    gap: 2rem;
}

.nav-links li {
    text-decoration: none;
}

.nav-links > li > a {
    text-decoration: none;
    font-size: 25px;
    background: none;
    transition: all 1.0s ease-in-out;
}

#toggle-btn:active {
    transform: scale(0.9);
}