.arrow {
    cursor: pointer;
    background: none; 
    border: none;
    z-index: 10;
    position: sticky;
}

.arrow img {
    transition: opacity 0.7s ease-in 0.3s;
}

.arrow img:hover {
    opacity: 0.5;
    transform: scale(1.1);
}

.home {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    padding: 10px 10px 10px 10px;
    border: 2px solid black;
    border-radius: 19px;
    transition: border-color 1s ease-in-out;
}

.arrow {
    text-align: right;
    padding-right: 10%;
}


.arrow:focus {
    outline: none;
}