* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

body.light-mode {
    transition: background-color 1.0s ease-in-out, color 1.0s;
    background-color: white;
    color: black;
}

body.light-mode a {
    transition: background-color 1.0s ease-in-out, color 1.0s;
    background-color: white;
    color: black;
}

body.dark-mode {
    transition: background-color 1.0s ease-in-out, color 1.0s;
    background-color: black;
    color: white;
}

body.dark-mode a {
    transition: background-color 1.0s ease-in-out, color 1.0s;
    background-color: black;
    color: white;
}